@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .spinner-blade {
    @apply absolute h-[20%] w-[8%] bg-foreground rounded-[1px];
    animation: spinner-blade 1s linear infinite;
    will-change: opacity;
    top: 37%;
    left: 44%;
  }

  .spinner-blade:nth-child(1) {
    transform: rotate(0deg) translateY(-130%);
    animation-delay: -1.667s;
  }

  .spinner-blade:nth-child(2) {
    transform: rotate(30deg) translateY(-130%);
    animation-delay: -1.583s;
  }

  .spinner-blade:nth-child(3) {
    transform: rotate(60deg) translateY(-130%);
    animation-delay: -1.5s;
  }

  .spinner-blade:nth-child(4) {
    transform: rotate(90deg) translateY(-130%);
    animation-delay: -1.417s;
  }

  .spinner-blade:nth-child(5) {
    transform: rotate(120deg) translateY(-130%);
    animation-delay: -1.333s;
  }

  .spinner-blade:nth-child(6) {
    transform: rotate(150deg) translateY(-130%);
    animation-delay: -1.25s;
  }

  .spinner-blade:nth-child(7) {
    transform: rotate(180deg) translateY(-130%);
    animation-delay: -1.167s;
  }

  .spinner-blade:nth-child(8) {
    transform: rotate(210deg) translateY(-130%);
    animation-delay: -1.083s;
  }

  .spinner-blade:nth-child(9) {
    transform: rotate(240deg) translateY(-130%);
    animation-delay: -1s;
  }

  .spinner-blade:nth-child(10) {
    transform: rotate(270deg) translateY(-130%);
    animation-delay: -0.917s;
  }

  .spinner-blade:nth-child(11) {
    transform: rotate(300deg) translateY(-130%);
    animation-delay: -0.833s;
  }

  .spinner-blade:nth-child(12) {
    transform: rotate(330deg) translateY(-130%);
    animation-delay: -0.75s;
  }
}

@keyframes spinner-blade {
  0% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: oklch(0.2200 0.0290 175.8819);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.2200 0.0290 175.8819);
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: oklch(0.8526 0.1728 130.9941);
    --primary-foreground: oklch(0.3363 0.0609 174.7752);
    --secondary: oklch(0.9819 0.0181 155.8263);
    --secondary-foreground: oklch(0.2200 0.0290 175.8819);
    --muted: oklch(0.9819 0.0181 155.8263);
    --muted-foreground: oklch(0.5517 0.0138 285.9385);
    --accent: oklch(0.9857 0.0310 120.7572);
    --accent-foreground: oklch(0.2200 0.0290 175.8819);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: oklch(0.8493 0.2073 128.8497);
    --chart-1: oklch(0.7681 0.2044 130.8498);
    --chart-2: oklch(0.5322 0.1405 131.5887);
    --chart-3: oklch(0.8493 0.2073 128.8497);
    --chart-4: oklch(0.6482 0.1754 131.6839);
    --chart-5: oklch(0.8972 0.1786 126.6652);
    --radius: 1rem;
    --sidebar-background: oklch(33.632% 0.06086 174.81);
    --sidebar-foreground: oklch(1.0000 0 0);
    --sidebar-primary: oklch(0.7681 0.2044 130.8498);
    --sidebar-primary-foreground: oklch(0.1757 0.0235 174.9821);
    --sidebar-accent: oklch(0.2618 0.0350 173.6680);
    --sidebar-accent-foreground: oklch(0.9819 0.0181 155.8263);
    --sidebar-border: oklch(0.2618 0.0350 173.6680);
    --sidebar-ring: oklch(0.8493 0.2073 128.8497);
    --sidebar: oklch(0.3363 0.0609 174.7752);
    --font-sans: Inter;
    --font-serif: serif;
    --font-mono: monospace;
    --shadow-color: #D1FAE5;
    --shadow-opacity: 0.5;
    --shadow-blur: 8px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 4px;
    --letter-spacing: 0rem;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 4px 8px 0px hsl(149.2683 80.3922% 90.0000% / 0.25);
    --shadow-xs: 0px 4px 8px 0px hsl(149.2683 80.3922% 90.0000% / 0.25);
    --shadow-sm: 0px 4px 8px 0px hsl(149.2683 80.3922% 90.0000% / 0.50), 0px 1px 2px -1px hsl(149.2683 80.3922% 90.0000% / 0.50);
    --shadow: 0px 4px 8px 0px hsl(149.2683 80.3922% 90.0000% / 0.50), 0px 1px 2px -1px hsl(149.2683 80.3922% 90.0000% / 0.50);
    --shadow-md: 0px 4px 8px 0px hsl(149.2683 80.3922% 90.0000% / 0.50), 0px 2px 4px -1px hsl(149.2683 80.3922% 90.0000% / 0.50);
    --shadow-lg: 0px 4px 8px 0px hsl(149.2683 80.3922% 90.0000% / 0.50), 0px 4px 6px -1px hsl(149.2683 80.3922% 90.0000% / 0.50);
    --shadow-xl: 0px 4px 8px 0px hsl(149.2683 80.3922% 90.0000% / 0.50), 0px 8px 10px -1px hsl(149.2683 80.3922% 90.0000% / 0.50);
    --shadow-2xl: 0px 4px 8px 0px hsl(149.2683 80.3922% 90.0000% / 1.25);
    --tracking-normal: 0rem;
  }
  .dark {
    --background: oklch(0.1757 0.0235 174.9821);
    --foreground: oklch(0.9730 0.0231 153.4686);
    --card: oklch(0.2200 0.0290 175.8819);
    --card-foreground: oklch(0.9730 0.0231 153.4686);
    --popover: oklch(0.2200 0.0290 175.8819);
    --popover-foreground: oklch(0.9730 0.0231 153.4686);
    --primary: oklch(0.7681 0.2044 130.8498);
    --primary-foreground: oklch(0.1757 0.0235 174.9821);
    --secondary: oklch(0.2618 0.0350 173.6680);
    --secondary-foreground: oklch(0.9819 0.0181 155.8263);
    --muted: oklch(0.2618 0.0350 173.6680);
    --muted-foreground: oklch(0.7118 0.0129 286.0665);
    --accent: oklch(0.2618 0.0350 173.6680);
    --accent-foreground: oklch(0.9819 0.0181 155.8263);
    --destructive: oklch(0.3958 0.1331 25.7230);
    --destructive-foreground: oklch(0.9356 0.0309 17.7172);
    --border: oklch(0.2618 0.0350 173.6680);
    --input: oklch(0.2618 0.0350 173.6680);
    --ring: oklch(0.8493 0.2073 128.8497);
    --chart-1: oklch(0.7681 0.2044 130.8498);
    --chart-2: oklch(0.5322 0.1405 131.5887);
    --chart-3: oklch(0.8493 0.2073 128.8497);
    --chart-4: oklch(0.6482 0.1754 131.6839);
    --chart-5: oklch(0.8972 0.1786 126.6652);
    --sidebar-background: oklch(0.2618 0.0350 173.6680);
    --sidebar-foreground: oklch(0.7118 0.0129 286.0665);
    --sidebar-primary: oklch(0.7681 0.2044 130.8498);
    --sidebar-primary-foreground: oklch(0.1757 0.0235 174.9821);
    --sidebar-accent: oklch(0.2618 0.0350 173.6680);
    --sidebar-accent-foreground: oklch(0.9819 0.0181 155.8263);
    --sidebar-border: oklch(0.2618 0.0350 173.6680);
    --sidebar-ring: oklch(0.8493 0.2073 128.8497);
    --radius: 1rem;
    --sidebar: oklch(0.2200 0.0290 175.8819);
    --font-sans: Inter;
    --font-serif: serif;
    --font-mono: monospace;
    --shadow-color: #000000;
    --shadow-opacity: 0.1;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 2px;
    --letter-spacing: 0rem;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
  }
  .theme {
    --font-sans: Inter;
    --font-mono: monospace;
    --font-serif: serif;
    --radius: 1rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.skeleton {
  * {
    pointer-events: none !important;
  }

  *[class^="text-"] {
    color: transparent;
    @apply rounded-md bg-foreground/20 select-none animate-pulse;
  }

  .skeleton-bg {
    @apply bg-foreground/10;
  }

  .skeleton-div {
    @apply bg-foreground/20 animate-pulse;
  }
}

.ProseMirror {
  outline: none;
}

.cm-editor,
.cm-gutters {
  @apply bg-background dark:bg-zinc-800 outline-none selection:bg-zinc-900 !important;
}

.ͼo.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground,
.ͼo.cm-selectionBackground,
.ͼo.cm-content::selection {
  @apply bg-zinc-200 dark:bg-zinc-900 !important;
}

.cm-activeLine,
.cm-activeLineGutter {
  @apply bg-transparent !important;
}

.cm-activeLine {
  @apply rounded-r-sm !important;
}

.cm-lineNumbers {
  @apply min-w-7;
}

.cm-foldGutter {
  @apply min-w-3;
}

.cm-lineNumbers .cm-activeLineGutter {
  @apply rounded-l-sm !important;
}

.suggestion-highlight {
  @apply bg-blue-200 hover:bg-blue-300 dark:hover:bg-blue-400/50 dark:text-blue-50 dark:bg-blue-500/40;
}

.animated-gradient-text {
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  font-weight: 500;
  backdrop-filter: blur(10px);
  transition: box-shadow 0.5s ease-out;
  overflow: hidden;
  cursor: pointer;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 300% 100%;
  animation: gradient linear infinite;
  border-radius: inherit;
  z-index: 0;
  pointer-events: none;
}

.gradient-overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #060010;
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.text-content {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient linear infinite;
}

.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
  overflow-x: hidden;
}

.grow-wrap,
.grow-wrap > textarea,
.grow-wrap::after {
  grid-area: 1 / 1 / 2 / 2;
  font: inherit;
}